<!---By default ng-template wont show anything on screen-->

    <p *ngIf="blueClass">Button is Blue...</p>


<!---adding blue class on click--->
<button (click)="blueClass=!blueClass" [ngClass]="{blue: blueClass}" [ngStyle]="{'font-size.px':fontSize}">Change</button>

<hr>

<input (keyup)="changeImage($event)" [value]="imgURL"/>

<app-post *ngFor="let image of images; let i=index" [img]="image" (imgSelected)="logImg($event)">
    <p>{{i}}some caption text</p>
</app-post>



<!-- title case pipe -->
<p>Hello {{name| titlecase}} !!!!!!</p>

<p>Hello {{getName()}} !!!!!!</p>

<p> {{15+13}}</p>

<!-- datePipe -->
<p>{{currentDate | date: 'fullDate'}}</p>

<!-- currencyPipe -->
<p>{{cost| currency: 'INR'}}</p>

<!-- decimal Pipe (removing decimal from temp )-->
<p>{{temp | number:'1.0-0'}}</p>

<!-- json piepe is used to print object value and used for debugging-->>
<pre>{{pizza | json}}</pre>